.App {
  text-align: center;
}
.header {
  width: 100vw;
  background-color: #63e735;
  height: 40px;
  margin-top: 0;
  margin-bottom: 20px;
}

.cardDeck {
  padding: 10px;
}

.card {
  margin-left: 20px;
}
