.App {
  text-align: center;
  color: #07576a;
  font-size: small;
  font-weight: bold;
  background-color: whitesmoke;
  min-height: 100vh;
}
.header {
  width: 100vw;
  background-color: #6db91c;
  height: 40px;
  margin-top: 0;
  margin-bottom: 20px;
}

.headerText {
  color: white;
  padding: 15px;
  text-align: left;
}

.cardHeader {
  width: 100%;
  text-align: center;
  background-color: #07576a;
  color: white;
  font-weight: bold;
  padding: 10px;
}
